<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team-Animal-Crossing</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Varela+Round" />
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelementplayer.min.css" rel="stylesheet"/> -->
    <link rel="stylesheet" type="text/css" href="{% static 'find_villager/css/index.css'%}" />
</head>
<body>
    <div class = "bubble-containerhead">
        <h1 class = "text-h1">What ACNH Villager Are You?</h1>
    </div>

    <div class = "bubble-containerIntro">
        <p class = "para-style-int">Find your ideal Animal Crossing New Horizons Villager most like you by completing the quiz below.</p>
    </div>

    <form id="form1" method = "POST">
        {% csrf_token %}
        <div class="bubble-container3">
            <label class="text-h2" for="yourname">Name: </label>
            <input type="text" id="yourname" name="yourname" />
        </div>
        <div class="bubble-container3">
            <label class="text-h2" for="species">1. What is your favorite species?</label>

            <select name="species" id="species" class = "select-dropper">
                <option value="" disabled selected>Choose One:</option>
                <option>Alligator</option>
                <option>Anteater</option>
                <option>Bear</option>
                <option>Bird</option>
                <option>Bull</option>
                <option>Cat</option>
                <option>Chicken</option>
                <option>Cow</option>
                <option>Cub</option>
                <option>Deer</option>
                <option>Dog</option>
                <option>Duck</option>
                <option>Eagle</option>
                <option>Elephant</option>
                <option>Frog</option>
                <option>Goat</option>
                <option>Gorilla</option>
                <option>Hamster</option>
                <option>Hippo</option>
                <option>Horse</option>
                <option>Kangaroo</option>
                <option>Koala</option>
                <option>Lion</option>
                <option>Monkey</option>
                <option>Mouse</option>
                <option>Octopus</option>
                <option>Ostrich</option>
                <option>Penguin</option>
                <option>Pig</option>
                <option>Rabbit</option>
                <option>Rhino</option>
                <option>Sheep</option>
                <option>Squirrel</option>
                <option>Tiger</option>
                <option>Wolf</option>
            </select>
        </div>
        
        <div class="bubble-container3">
            <label class="text-h2" for="personality">2. How would you describe yourself?</label>
        
            <select name="personality" id="personality" class="select-dropper">
                <option value="" disabled selected>Choose One:</option>
                <option>Big Sister</option>
                <option>Cranky</option>
                <option>Jock</option>
                <option>Lazy</option>
                <option>Normal</option>
                <option>Peppy</option>
                <option>Smug</option>
                <option>Snooty</option>
            </select>
        </div>
        
        <div class = "bubble-container3">
            <label class = "text-h2" for ="hobby" >3. What is your favorite hobby?</label>

            <select name="hobby" id="hobby" class = "select-dropper">
                <option value="" disabled selected>Choose One:</option>
                <option>Education</option>
                <option>Fashion</option>
                <option>Fitness</option>
                <option>Music</option>
                <option>Nature</option>
                <option>Play</option>
            </select>
        </div>
        
        <div class = "bubble-container3">
            <label class = "text-h2" for="astrological">4. What is your astrological sign?</label>
        
            <select name="astrological" id="astrological" class = "select-dropper">
                <option value="" disabled selected>Choose One:</option>
                <option>Aries</option>
                <option>Taurus</option>
                <option>Gemini</option>
                <option>Cancer</option>
                <option>Leo</option>
                <option>Virgo</option>
                <option>Libra</option>
                <option>Scorpio</option>
                <option>Sagittarius</option>
                <option>Capricorn</option>
                <option>Aquarius</option>
                <option>Pieces</option>
            </select>
        </div>

        <div class = "bubble-container3">
            <label class = "text-h2" for="music">5. What is your favorite genre of music?</label>
            <select name="music" id="music" class = "select-dropper">
                <option value="" disabled selected>Choose One:</option>
                <option>Rock</option>
                <option>Country</option>
                <option>Folk</option>
                <option>Pop</option>
                <option>Blues</option>
                <option>Jazz</option>
                <option>Electronic</option>
                <option>Rhythm & Blues</option>
                <option>Disco</option>
                <option>Funk</option>
                <option>Reggae</option>
                <option>Swing</option>
                <option>Pop</option>
                <option>Classical</option>
                <option>Blues</option>
                <option>World</option>
                <option>Latin</option> 
                <option>Children's Music</option>
                <option>Soul</option>
            </select>
        </div>

        <div class = "bubble-container3">
            <label class = "text-h2" for="style1">6. How would you describe your personal style most of the time?</label>
            <select name="style1" id="style1" class = "select-dropper">
                <option value="" disabled selected>Choose One:</option>
                <option>Active</option>
                <option>Cool</option>
                <option>Cute</option>
                <option>Elegant</option>
                <option>Gorgeous</option>
                <option>Simple</option>
            </select>
        </div>

        <div class = "bubble-container3">
            <label class = "text-h2" for="style2">7. What other style do you like?</label>
            <select name="style2" id="style2" class = "select-dropper">
                <option value="" disabled selected>Choose One:</option>
                <option>Active</option>
                <option>Cool</option>
                <option>Cute</option>
                <option>Elegant</option>
                <option>Gorgeous</option>
                <option>Simple</option>
            </select>
        </div>

        <div class = "bubble-container3">
            <label class = "text-h2" for="color1">8. What is your favorite color?</label>
            <select name="color1" id="color1" class = "select-dropper">
                <option value="" disabled selected>Choose One:</option>
                <option>Beige</option>
                <option>Black</option>
                <option>Blue</option>
                <option>Brown</option>
                <option>Colorful</option>
                <option>Gray</option>
                <option>Green</option>
                <option>Light Blue</option>
                <option>Orange</option>
                <option>Pink</option>
                <option>Purple</option>
                <option>Red</option>
                <option>White</option>
                <option>Yellow</option>
            </select>
        </div>

        <div class = "bubble-container3">
            <label class = "text-h2" for="color2">9. What is your second favorite color?</label>
            
            <select name="color2" id="color2" class = "select-dropper">
                <option value="" disabled selected>Choose One:</option>
                <option>Beige</option>
                <option>Black</option>
                <option>Blue</option>
                <option>Brown</option>
                <option>Colorful</option>
                <option>Gray</option>
                <option>Green</option>
                <option>Light Blue</option>
                <option>Orange</option>
                <option>Pink</option>
                <option>Purple</option>
                <option>Red</option>
                <option>White</option>
                <option>Yellow</option>
            </select>
        </div>
        <p><button type="submit" value="Submit" class = "button-submit">Submit</button></p>
    </form>
    <div class = "bubble-container3">
        <p class = "para-style-int">The ACNH Villager "most like"  you is: <span id="Villager_ACNH1">______</span></p><p id="Villager_ACNH2">
        </p>
    </div>
    <!-- <p style = "color:saddlebrown;font-size: 18px;font-family: 'Varela Round';font-weight: bold;">Find your ideal Animal Crossing New Horizons Villager most like you by completing the quiz below.</p> -->
    <!-- background-color:rgb(241, 179, 22);background-size: 95%; -->
    <div class = "bubble-container3">
        <audio class='fc-media' controls autoplay src= "{% static 'find_villager/mp3/AC_Main_Theme_Welcome_Horizons.mp3' %}" type="audio/mpeg"></audio>
        <!-- <audio controls autoplay src= "{% static 'find_villager/mp3/AC_Main_Theme_Welcome_Horizons.mp3' %}" type="audio/mpeg" </audio> -->
            <!-- Your browser does not support the audio element. -->
    </div>

    <footer>
        <div class="footer-container">
            <h5>
                Donate to the ICUN Red List and go to our Github.
                This page was made for our capstone.
                We have no affiliation with the game or Ninetendo.
            </h5>
        </div>
    </footer>

    <!-- <div class="footer">
        <svg viewBox="0 0 500 150">
          <path d="M-2.25,0.50 C112.87,185.03 362.87,-79.44 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill:#bfe4c1;"></path>
        </svg>
    </div> -->
</body>
</html>