
python_scripts_villagers/cookie_config.txt

find_villagers/python_scripts_villagers/cookie_config.txt

/SIADS_699_CAPSTONE/find_villager/python_scripts_villagers/cookie_config.txt

venv/

.DS_Store


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
