body {text-align: center;
    background-image: url('https://rare-gallery.com/uploads/posts/931864-video-game-art-Nintendo-Animal-Crossing-New-Horizons.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: palegoldenrod;
}

.bubble-containerhead{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    background-color: #0fbbb1;
    border-color: ivory; 
    gap: 30px;
    margin-bottom: 10px;
    border: 2px solid ivory;
    border-radius: 35px;
}

.bubble-containerIntro{
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    background-color: #23be2c;
    border-color: ivory;
    gap: 30px;
    margin-bottom: 10px;
    border: 2px solid ivory;
    border-radius: 35px;

}

.bubble-containerName{
    display: inline;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 30px;
    background-color: #23be2c;
    border-radius: 50px;
    border-color: ivory;
    gap: 10px;
    margin-bottom: 10px;

}

.bubble-container3{
    display: inline-table;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    background-color: #23be2c;
    border-color: ivory;
    gap: 20px;
    margin-bottom: 15px;
    margin-inline-start: 25%;
    margin-inline-end: 25%;
    border: 2px solid ivory;
    border-radius: 35px;

}

.bubble-container3BIG{
    display: inline-table;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    height: 40px;
    background-color: #23be2c;
    border-color: ivory;
    gap: 20px;
    margin-bottom: 15px;
    margin-inline-start: 25%;
    margin-inline-end: 25%;
    border: 2px solid ivory;
    border-radius: 35px;
}    

.bubble-containerBig {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    height: 300px;
    background-color: #23be2c;
    border-color: ivory;
    gap: 20px;
    margin-bottom: 15px;
    margin-inline-start: 25%;
    margin-inline-end: 25%;
    border: 2px solid ivory;
    border-radius: 35px;
    align-items: center;
    
    }

.bubble-containerRes{
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    height: 30px;
    background-color:rgb(241, 179, 22);
    border-radius: 25px;
    border-color: saddlebrown;
    gap: 20px;
    margin-bottom: 20px;

}
.text-h2 {
    color:ivory;
    font-size: 14px;
    font-family: 'Varela Round';
    font-weight: bold;
    text-align: center;

}
.text-h1{
    color:ivory;
    font-size: 60%;
    font-family: 'Varela Round';
    font-weight: bold;
}
@media (max-width: 767px){
    .text-h1{
        font-size: 100%;
    }   
}
.para-style-int{
    color: ivory;
    font-size: 20%;
    font-family: 'Varela Round';
    font-weight: bold;
}

.bubble-containerBig img{
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.button-submit{
   font-family: 'Varela Round';
   color: ivory;
   padding: 20px;
   width: 200px;
   justify-content: center;
   text-align: center;
   border: 2px solid ivory;
   border-radius: 15px;
   font-weight: bold;
   font-size: 30px;
   cursor: pointer;
   margin: 10px;
   background-color: #23be2c;
   display: inline-block;
 
}
.button-submit:hover{
    background-color: #0fbbb1;
    border: 2px solid ivory;
    color: ivory

}
.select-dropper{
    font-family: 'Varela Round';
    color: #9b6731;
    background-color: ivory;
    margin: 10px auto;
    cursor: pointer;
    text-align: center;
    display: block;

}


 
  footer {
    position: absolute;
    width: 100%;
    background-color: hsla(43, 74%, 49%, 0.8);
    font-family: 'Varela Round';
    font-weight: bold;
    color: saddlebrown;
    padding: 15px;
  }
  
.footer-container{
    width: auto;
    margin: -1;
}
.footer-container:before{
    content: '';
    position: absolute;
    top: -30px;
    left:0;
    right: 0;
    height: 30px;
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 1200 120" xmlns="http://www.w3.org/2000/svg"><path d="M0 80 Q150 0 300 80 Q450 160 600 80 Q750 0 900 80 Q1050 160 1200 80 V120 H0 V80 Z" fill= "goldenrod" fill-opacity="80%"/></svg>');
}